html,
body {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.shape-list > .shape-item {
  height: 100px;
  border-bottom: 1px solid #d8d8d8;
  padding-left: 50px;
  position: relative;
}
.shape-list > .shape-item > div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.shape-list > .shape-item > #curvedarrow {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid red;
  transform: rotate(10deg);
}
.shape-list > .shape-item > #curvedarrow::after {
  content: ' ';
  position: absolute;
  border-top: 3px solid red;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}
.shape-list > .shape-item #star-six {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid red;
  position: relative;
}
.shape-list > .shape-item #star-six:after {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid red;
  position: absolute;
  content: "";
  top: 15px;
  left: -25px;
}
.shape-list > .shape-item #heart {
  position: relative;
  width: 100px;
  height: 90px;
}
.shape-list > .shape-item #heart:before,
.shape-list > .shape-item #heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.shape-list > .shape-item #heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}
